/*
/*****************************************************
*   ETMl
*   Author :        Sam Nadir Naït Abbou       
*   Date:           24.11.2016
*   Description :   Own cascade stylsheet
*
*
*
*
*
*
******************************************************/



html{
    background-color:#22313F;
    opacity: 0.9;
    color:white;
    font-family: Lato;
}

#banner{
    background-image:url(../img/mountain-banner.jpg);
    margin: 0 auto;
    padding: 0 auto;
    height: 160px;
}
body{
    margin: 0 auto;
    padding: 0 auto;
}

#content{
    padding: 10px;
}

/*-------- Navbar --------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DADFE1;
}

li {
    float: left;
}

li a {
    display: block;
    color: #34495E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #2C3E50;
    color: white;
}



th, td {
    border-bottom: 1px solid #ddd;
}


/*END - Navbar*/

/*-------- Link button --------*/

#addData a:link {
    background-color: #1E824C;
    color: white;
    padding: 14px 25px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#editData a:link{
    background-color: #E0C434;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: left;
    margin: 3px;

}

#editData a:hover{
    background-color: #c8ab1e;
}

#removeData a:link{
    background-color: #d12b15;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px;
    
}

#removeData a:hover{
    background-color: #a22110;
    
}

#addData a:visited{
    color: white;
}

#editData a:visited{
    color: white;
}

#removeData a:visited{
    color: white;
}
/*END - Link button*/


/*-------- Table --------*/


table {
    border-collapse: collapse;
    width: 80%;

}

th, td {
    text-align: left;
    padding: 8px;
}


th {
    background-color: #5666A2;
    color: white;
}

td {
    background-color: #A2B3E7;
    color: white;
}

/*tr:hover {
    background-color: #f5f5f5;
}/*

/*tr:nth-child(even) {
    background-color: #f2f2f2;
}*/
/*END - Table*/


/*-------- Form --------*/

/*input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="url"],
form textarea,
form button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

form {
    padding: 25px;
    margin: 0px 0;
    box-shadow: 0 0 20px 0 rgba(86, 102, 162, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

form h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="url"],
form textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="tel"]:hover,
form input[type="url"]:hover,
form textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

form textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    align-items: center;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

form input[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

form input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

form input:focus,
form textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/*------- Checkbox -------*/

/*------- END - Checkbox -------*/


/*------- END - form -------*/


/*-------- Footer --------*/
#footer{
    margin: 0 auto;
}

/*END - footer*/

/*-------- Font-familly --------*/

@font-face {
    font-family: Lato;
    src: url(Lato-Black.ttf);
}



#homecontainer{

    padding: 10px;
    border: 5px solid ;
    margin: 0; 

}