<h1>Modifier un Artist </h1></br>

<?php
	echo $this->Form->create('Artist');
	echo $this->Form->input('artStagename');
	echo $this->Form->input('artFirstname');
	echo $this->Form->input('artLastname');
	echo $this->Form->input('artNickname');
	echo $this->Form->input('artBandMember');
    echo $this->Form->end('Modifier l\'artist');
?>
